@import 'styles/mixins';
@import 'styles/responsive';

.MainPage {
  font-family: 'Montserrat';
  padding-bottom: 25%;

  @include for-desktop-up {
    padding-bottom: 50px;
  }

  &__coupon {
    position: relative;
    width: 100%;
    margin: 45px 0;

    @include for-desktop-up {
      height: 180px;
      border-radius: 30px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    img {
      width: 100%;
    }

    &__content {
      padding: var(--layout-padding);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;

      @include for-desktop-up {
        padding: 30px;
      }

      p {
        @include font-size(20);
        color: #fff;
        font-weight: bold;
        width: 80%;
        line-height: 30px;
      }

      button {
        @include font-size(10);
        font-weight: bold;
        background: var(--blue);
        border: none;
        border-radius: 30px;
        width: fit-content;
        padding: 12px 15px;
        color: #fff;
      }
    }
  }

  &__filters {
    margin-bottom: 45px;

    &__item {
      @include font-size(14);
      font-weight: bold;
      background-color: rgba($color: #e5e5e5, $alpha: 0.5);
      border: 1px solid #e5e5e5;
      color: #061737;
      border-radius: 7px;
      padding: 5px 10px;

      &__active {
        background: var(--blue);
        color: #fff;
      }
    }
  }

  &__popular {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      h3 {
        @include font-size(20);
        color: var(--color-primary);
        font-weight: bold;
      }

      &__more {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          color: var(--blue);
          font-weight: bold;
        }

        &__btn {
          background-color: var(--blue);
          border-color: #8190f5;
          border: 0px;
          color: white;
          border-radius: 5px;
          width: 25px;
          height: 25px;
        }
      }
    }

    &__carouselItem {
      display: flex;
      flex-direction: column;

      &__img {
        width: 300px;
        height: 160px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.15);
      }

      &__description {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
          @include font-size(15);
          font-weight: bold;
          color: var(--color-primary);
        }

        &__price {
          border: 1px#e6efee solid;
          border-radius: 5px;
          padding: 5px 8px;
          color: #b0b4be;
          width: fit-content;
          text-align: center;
          background: rgba($color: #e6efee, $alpha: 0.5);
          @include font-size(10);
        }
      }
    }
  }

  &__other {
    &__header {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      h3 {
        @include font-size(20);
        color: var(--color-primary);
        font-weight: bold;
      }

      &__more {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          color: var(--blue);
          font-weight: bold;
        }

        &__btn {
          background-color: var(--blue);
          border-color: #8190f5;
          border: 0px;
          color: white;
          border-radius: 5px;
          width: 25px;
          height: 25px;
        }
      }
    }

    &__card {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      gap: 20px;
      flex-wrap: wrap;

      @include for-desktop-up {
        gap: 40px;
        justify-content: space-between;
      }

      &__item {
        text-decoration: none;
        width: calc(50% - 20px);

        @include for-desktop-up {
          width: 30%;
        }
      }
    }
  }
}
