@import 'styles/responsive.scss';

.backArrow {
  position: absolute;
  top: calc(var(--layout-padding) * 2);
  left: var(--layout-padding);
  z-index: 10;

  @include for-desktop-up {
    top: calc(var(--layout-padding));
  }
}
