.OrderPage {
  font-family: 'Montserrat';
  margin-top: 10%;
  padding-bottom: 20%;

  &__title {
    display: flex;
    justify-content: space-around;
    align-items: left;
  }

  h1 {
    font-size: large;
    font-weight: bold;
  }

  &__btnRetour,
  &__btnInfo {
    background-color: transparent;
    border: none;
    font-size: large;
  }

  &__iconBtn {
    width: 24px;
    height: 24px;
  }

  &__divBtnNote {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__btnNote {
    border-radius: 50px;
    border: none;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  &__divTitleNote {
    text-align: center;
    font-weight: bold;
  }

  &__carouselImg {
    width: 290px;
    height: 391px;
    border-radius: 20px;
    margin-left: 50px;
    object-fit: cover;
  }

  &__carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    flex-shrink: 0;
  }
}
