@import 'styles/mixins';
@import 'styles/responsive.scss';

.RegisterContainer {
  height: 100vh;
  padding: calc(var(--layout-padding) * 3) 0;
  padding-top: calc(var(--layout-padding) * 2 + 30px);

  @include for-desktop-up {
    flex-direction: row;
    padding: 0;
  }

  &__image {
    display: none;

    @include for-desktop-up {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background: rgba($color: #e5e5e5, $alpha: 0.3);
      position: absolute;
      left: 0;
      top: 0;

      img {
        width: 40%;
      }
    }
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-desktop-up {
      padding: 50px;
      height: 100%;
      width: 50%;
      display: flex;
      gap: 50px;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      flex-shrink: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &__register {
      @include font-size(16);
      text-align: center;
      color: #061737;
      font-weight: 400;

      a {
        text-decoration: none;
      }
    }
  }
}
