@import 'styles/mixins.scss';
@import 'styles/responsive.scss';

.LandingPage {
  font-family: 'Montserrat';
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 20%;

  @include for-desktop-up {
    flex-direction: row;
    padding: 0;
  }

  &__image {
    @include for-desktop-up {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background: rgba($color: #e5e5e5, $alpha: 0.3);
      position: absolute;
      left: 0;
      top: 0;

      img {
        width: 40%;
      }
    }
  }

  &__content {
    @include for-desktop-up {
      padding: 50px;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    p {
      color: #909090;
      @include font-size(20);
      margin-bottom: 12vh;
    }

    &__btnContainer {
      display: flex;
      flex-direction: column;
      position: absolute;
      gap: 30px;
      bottom: var(--layout-padding);
      left: var(--layout-padding);
      width: calc(100% - var(--layout-padding) * 2);

      @include for-desktop-up {
        position: static;
      }

      &__btnInscription {
        background-color: rgba($color: #e5e5e5, $alpha: 0.5);
        color: #061737;
        width: 100%;
        border-radius: 15px;
        padding: 18px 10px;
        @include font-size(20);
        font-weight: bold;
        border: 1px solid #e5e5e5;
      }

      &__btnConnexion {
        background-color: #061737;
        color: #fff;
        width: 100%;
        border-radius: 15px;
        padding: 18px 10px;
        @include font-size(20);
        font-weight: bold;
      }
    }
  }
}
