@import 'styles/mixins';

.WaitingPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__arrow {
    position: absolute;
    top: 50px;
    left: 0;
  }

  &__description {
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    &__OrderWaiting {
      @include font-size(15);
      margin-bottom: 10%;
      font-weight: bold;
      margin-top: 20px;
    }

    &__img {
      width: 272px;
      height: 234px;
      object-fit: cover;
    }
  }
}
