@import 'styles/mixins';

.SignInWith {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    gap: 20px;

    &__separator {
      width: 100%;
      height: 1px;
      flex: 1;
      background-color: #061737;
      opacity: 0.5;
    }

    p {
      @include font-size(16);
      color: #061737;
      font-weight: 400;
    }
  }

  &__social {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;

    img {
      border: 1px solid #061737;
      padding: 2px;
      border-radius: 50%;
      box-sizing: content-box;
      flex-shrink: 0;
      width: 50px;
      height: 50px;
    }
  }
}
