.Confirm {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  img {
    width: 80%;
    max-width: 500px;
  }

  p {
    text-align: center;
  }
}
