@import 'styles/mixins';
@import 'styles/responsive.scss';

.LoginContainer {
  height: 100vh;
  padding: calc(var(--layout-padding) * 3) 0;
  padding-top: calc(var(--layout-padding) * 2 + 30px);

  @include for-desktop-up {
    flex-direction: row;
    padding: 0;
  }

  &__image {
    display: none;

    @include for-desktop-up {
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background: rgba($color: #e5e5e5, $alpha: 0.3);
      position: absolute;
      left: 0;
      top: 0;

      img {
        width: 40%;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include for-desktop-up {
      padding: 50px;
      height: 100%;
      width: 50%;
      display: flex;
      gap: 50px;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      flex-shrink: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__register {
    @include font-size(16);
    text-align: center;
    color: #061737;
    font-weight: 400;

    a {
      text-decoration: none;
    }
  }

  &__inputs {
    width: 100%;
    padding: 15px;
    border: none;
    background: rgba($color: #e5e5e5, $alpha: 0.5);
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    margin-bottom: 25px;
    color: #061737;

    &::placeholder {
      color: rgba($color: #061737, $alpha: 0.5);
    }
  }

  &__btn {
    padding: 15px 70px;
    border: none;
    border-radius: 15px;
    background: #061737;
    @include font-size(16);
    color: #fff;
    margin-inline: auto;
    display: block;
  }
}
