@import 'styles/mixins';
@import 'styles/responsive';

.Card {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(#000000, 0.15);
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;

  &__image {
    width: 100%;
    height: 100px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;

    @include for-desktop-up {
      height: 150px;
    }
  }

  &__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;

    h4 {
      @include font-size(14);
      font-weight: bold;
      color: var(--color-primary);
    }

    &__description {
      @include font-size(10);
      color: grey;
    }

    &__prix {
      color: var(--color-primary);
      @include font-size(18);
      font-weight: bold;
      text-align: center;
      margin-top: auto;
    }
  }
}
