@import 'styles/responsive';

.ListOrdersPage {
  font-family: 'Montserrat';
  margin-top: 10%;
  padding-bottom: 20%;

  &__titleOrders {
    font-size: large;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__orders {
    display: flex;
    flex-direction: column;

    @include for-desktop-up {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      @include for-desktop-up {
        width: 30%;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
