@import 'styles/mixins';

.header {
  height: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__scrolled {
    position: fixed;
    height: 55px;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    align-items: center;
    padding: 0 var(--layout-padding);
  }

  &__address {
    display: flex;
    align-items: center;

    select {
      border: none;
      background: transparent;
      @include font-size(12);
      color: var(--color-primary);
      font-weight: bold;
    }
  }

  &__filter {
  }
}
