@import 'styles/responsive.scss';

.Navbar {
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(var(--layout-padding) * 2);
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);

  @include for-desktop-up {
    flex-direction: column;
    top: 0;
    padding: 10% 10px;
    height: 100%;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &__search {
    background: var(--gradient);
    padding: 20px;
    border-radius: 50%;
    transform: translateY(-20px);
    cursor: pointer;

    @include for-desktop-up {
      transform: translateY(0px);
    }
  }

  &__cart {
    position: relative;
    &__badge {
      position: absolute;
      top: -10px;
      right: -10px;
      background: red;
      color: #fff;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 10px;
      font-weight: 700;
    }
  }

  img {
    cursor: pointer;
  }
}
