@import 'styles/mixins';

.CartPage {
  margin-top: 45px;

  &__empty {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
    @include font-size(30);
    font-weight: bold;

    &__more {
      @include font-size(10);
      font-weight: bold;
      background: var(--blue);
      color: #fff;
      padding: 10px;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      border-radius: 10px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;

    &__item {
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

      &__image {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: cover;
      }

      &__info {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        justify-content: space-between;
        gap: 10px;
        @include font-size(18);
        font-weight: bold;
        color: var(--color-primary);
      }

      &__quantity {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &__controls {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: none;
          cursor: pointer;

          &__plus {
            background: var(--color-primary);
            color: #fff;
          }

          &__minus {
            background: transparent;
            border: 1px solid #e5e5e5;
            color: #e5e5e5;
          }
        }
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__subTotal {
      display: flex;
      justify-content: space-between;
      @include font-size(18);
      font-weight: bold;
      color: var(--color-primary);
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2) 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: bottom;
      background-size: 15px 1px;
      background-repeat: repeat-x;
      padding: 20px 0;
    }

    &__total {
      display: flex;
      justify-content: space-between;
      @include font-size(18);
      font-weight: bold;
      color: var(--color-primary);
      padding: 20px 0;
    }
  }

  &__checkout {
    margin: auto;
    display: block;
    @include font-size(15);
    font-weight: 600;
    color: #fff;
    background: var(--color-primary);
    padding: 15px 80px;
    border-radius: 15px;
    border: none;
    margin-top: 25px;
    font-family: 'Monserat', sans-serif;
  }
}
