@import 'styles/mixins';

.Credentials {
  &__inputs {
    width: 100%;
    padding: 15px;
    border: none;
    background: rgba($color: #e5e5e5, $alpha: 0.5);
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    margin-top: 25px;
    color: #061737;

    &::placeholder {
      color: rgba($color: #061737, $alpha: 0.5);
    }
  }

  &__btn {
    margin-top: 25px;
    padding: 15px 70px;
    border: none;
    border-radius: 15px;
    background: #061737;
    @include font-size(16);
    color: #fff;
    margin-inline: auto;
    display: block;
  }
}
