@import 'styles/responsive';

.Map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  &__container {
    height: 100%;
    width: 100%;

    &__mapbox {
      width: 100%;
      height: 100%;
    }

    &__btnRetour,
    &__btnInfo {
      background-color: transparent;
      border: none;
      font-size: large;
    }

    &__instructions {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: max-content;
      height: 70px;
      padding: 20px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px rgba($color: #000, $alpha: 0.1);
      border-radius: 5px;
      gap: 20px;

      @include for-desktop-up {
        left: 110px;
        transform: translateX(0%);
      }
    }
  }
}
