@import 'styles/mixins';
@import 'styles/responsive';

.DescriptionOrderPage {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;

  @include for-desktop-up {
    padding-bottom: 50px;
  }

  &__arrow {
    position: absolute;
    top: 50px;
    left: 0;
  }

  &__id {
    margin-top: 100px;
    margin-bottom: 30px;
    @include font-size(18);
    font-weight: bold;

    @include for-desktop-up {
      margin-top: 130px;
    }
  }

  &__headerImg {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.15);
  }

  &__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }

  h2 {
    @include font-size(18);
    font-weight: bold;
  }

  h3 {
    @include font-size(20);
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__titleNameResto {
    @include font-size(28);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__btnRetour {
    background-color: transparent;
    border: none;
    font-size: large;
  }

  &__iconePoint {
    width: 3px;
    height: 3px;
    color: #b0b4be;
  }

  &__statusDate {
    margin-bottom: 40px;

    &__status {
      color: #8190f5;
      @include font-size(15);
    }

    &__date {
      position: relative;
      padding-left: 10px;
      margin-left: 10px;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 4px;
        transform: translate(-50%, -50%);
        height: 4px;
        border-radius: 50%;
        background-color: #000000;
      }

      margin-top: 10px;
      @include font-size(15);
    }
  }

  &__iconUser,
  &__iconReceipt {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }
  &__pDescLivraison {
    margin-bottom: 15px;
    @include font-size(13);
  }

  &__divOrder {
    margin-bottom: 20px;
  }

  &__divRecap {
    display: flex;
    justify-content: space-around;
    justify-content: left;
    align-items: left;
    margin-bottom: 20px;
  }

  &__nbProduct {
    border: 1px #e5e5e5 solid;
    border-radius: 5px;
    padding: 5px 8px;
    width: fit-content;
    text-align: center;
    background: rgba($color: #e5e5e5, $alpha: 0.5);
    @include font-size(15);
    font-weight: bold;
    width: 30px;
    height: 30px;
  }

  &__divRecapOrder {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  &__receipt {
    width: 100%;
    background-color: #061737;
    color: #fff;
    border-radius: 15px;
    font-weight: bold;
    @include font-size(15);
    padding: 15px 80px;
    border: none;
    margin-top: 20px;

    @include for-desktop-up {
      width: fit-content;
    }
  }

  h4 {
    @include font-size(15);
    font-weight: bold;
  }
}
