@import 'styles/mixins';
@import 'styles/responsive';

.ProductPage {
  font-family: 'Montserrat';
  margin-top: 10%;
  padding-bottom: 20%;

  @include for-desktop-up {
    margin-top: 5%;
    padding-bottom: 50px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 10%;

    @include for-desktop-up {
      margin-bottom: 20px;
    }
  }

  &__btnRetour,
  &__btnInfo {
    background-color: transparent;
    border: none;
    font-size: large;
  }

  &__description {
    margin-bottom: 20%;

    @include for-desktop-up {
      margin-bottom: 40px;
    }

    h1 {
      @include font-size(15);
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10%;

      @include for-desktop-up {
        @include font-size(30);
        margin-bottom: 20px;
      }
    }

    &__price {
      border: 1px#e6efee solid;
      border-radius: 5px;
      padding: 5px 8px;
      color: #b0b4be;
      width: fit-content;
      text-align: center;
      background: rgba($color: #e6efee, $alpha: 0.5);
      @include font-size(10);

      @include for-desktop-up {
        @include font-size(15);
      }
    }

    &__detailsProduit {
      @include font-size(15);
      text-align: justify;
      margin-bottom: 10%;

      @include for-desktop-up {
        margin-bottom: 20px;
      }
    }

    &__img {
      width: 341px;
      height: 180px;
      border-radius: 20px;
      object-fit: cover;

      @include for-desktop-up {
        width: 100%;
        height: 300px;
      }
    }
  }

  &__btnAddToCart {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 15px;
    padding: 15px 80px;
    @include font-size(15);
    font-weight: bold;
    border: none;
    display: flex;
    margin: auto;

    @include for-desktop-up {
      margin: 0;
    }
  }
}
