@import 'styles/mixins';

.HeadTitle {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 30px;
    @include font-size(50);
    color: #061737;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__subTitle {
    @include font-size(22);
    font-weight: 600;
    color: #061737;
    opacity: 0.5;
  }
}
