@import 'styles/mixins';

.CheckoutPage {
  padding-top: 50px;

  &__location {
    margin-top: 30px;

    h2 {
      margin-bottom: 20px;
      font-weight: bold;
      @include font-size(20);
      color: var(--color-primary);
    }

    &__address {
      background: #fff;
      box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.1);
      display: flex;
      padding: 10px;
      border-radius: 20px;
      gap: 15px;
      align-items: center;

      h3 {
        @include font-size(14);
        margin-bottom: 5px;
        font-weight: bold;
        color: var(--color-primary);
      }

      p {
        @include font-size(10);
        color: #b0b4be;
        font-weight: 600;
      }
    }
  }

  &__payement {
    margin-top: 35px;

    h2 {
      margin-bottom: 20px;
      font-weight: bold;
      @include font-size(20);
      color: var(--color-primary);
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__item {
      display: flex;
      justify-content: space-between;
      @include font-size(16);
      font-weight: 400;
      color: var(--color-primary);
      border-bottom: 1px solid #e0e0e0;
      padding: 20px 0;
    }

    &__total {
      display: flex;
      justify-content: space-between;
      @include font-size(18);
      font-weight: bold;
      color: var(--color-primary);
      padding: 20px 0;
    }
  }

  &__checkout {
    margin: auto;
    display: block;
    @include font-size(15);
    font-weight: 600;
    color: #fff;
    background: var(--color-primary);
    padding: 15px 80px;
    border-radius: 15px;
    border: none;
    margin-top: 25px;
    font-family: 'Monserat', sans-serif;
  }
}
