@import 'styles/mixins';
@import 'styles/responsive';

.Card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 360px;
  height: 132px;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 9pt;
  display: flex;
  justify-content: left;
  align-items: left;

  @include for-desktop-up {
    max-width: none;
    flex-direction: column;
    height: auto;
  }

  &__image {
    margin: 0px;
    max-width: 141px;
    height: 132px;
    border-radius: 25px;
    object-fit: cover;

    @include for-desktop-up {
      max-width: none;
      height: 200px;
    }
  }

  &__description {
    text-align: left;
    color: black;
    margin-left: 30px;
    margin-top: 10px;

    @include for-desktop-up {
      margin: 0px;
      padding: 20px;
    }

    h2 {
      font-weight: bold;
      @include font-size(18);

      span {
        @include font-size(16);
      }
    }

    p {
      margin-top: 10px;
    }

    &__prix {
      @include font-size(22);

      font-weight: bold;
    }

    &__date,
    &__status {
      color: grey;
      @include font-size(14);
    }
  }
}
